* {
  font-family: "Josefin Sans", sans-serif;
}

.containerList {
  margin: 20px 40px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.restaurantTitle {
  font-size: 26px;
  font-weight: 600;
}
.restaurantImg {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
}
.restaurantDescription {
  margin-top: 14px;
  margin-bottom: 14px;
}
.restaurantCard {
  width: 100%;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1);
}
.uspList {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
